torch==1.12
torchaudio
torchvision
absl-py
altair
antlr4-python3-runtime
attrs
backports.zoneinfo
beautifulsoup4
black
blinker
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
commonmark
cryptography
cycler
decorator
entrypoints
fairscale
filelock
fonttools
future
fvcore
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
hydra-core
idna
importlib-metadata
importlib-resources
iopath
Jinja2
jsonschema
kiwisolver
Markdown
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service
mypy-extensions
numpy
oauthlib
omegaconf
opencv-python
packaging
pandas
pathspec
Pillow
pkgutil_resolve_name
platformdirs
portalocker
protobuf
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycparser
pydeck
pydot
Pygments
Pympler
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
requests
requests-oauthlib
rich
rsa
semver
six
smmap
soupsieve
streamlit
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
timm
toml
tomli
toolz
tornado
tqdm
typed-ast
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
yacs
zipp
